/*自定义--Start*/
body {
}

/*.liu-header {
    height: 58px;
    background: #A6C2DE;
    padding: 10px;
}

.liu-header-container {
    margin-top: 20px;
}

.liu-header-right {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 15px;
    color: #111;
    text-align: right;
}

    .liu-header-right p {
        line-height: 0.9em;
    }

    .liu-header-right a {
        margin: 5px 10px;
    }

.liu-side-tree .tree-node {
    padding: 3px 0px;
}

.liu-side-tree a {
    display: block;
}

.liu-side-tree .tree-node-selected {
    padding: 2px 0;
    border: 1px #fade23 solid;
}

.liu-west {
    width: 230px;
    padding: 10px;
}

.sidebarLink {
    color: #0099FF;
    font-weight: bold;
    display: block;
    padding-top: 8px;
}*/

.iconStyle {
    padding: 10px;
}
.tree_weimin {
    background-color:lightblue;

}


.footer_weimin {
    height: 60px;
    /*background: #A6C2DE;*/
    background: #47475c;
    text-align: center;
}







/*自定义--End*/